@using ClientsDataAccessLib.DTOs.Contacts

@if (Contacts is not null)
{
    <div class="card card-table">
        <h3>All Contacts</h3>
        <small>Browse through all contacts and make changes</small>

        <table class="table" id="clientsTable">
            <thead>
                <tr>

                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email</th>
                    @* <th scope="col">Total Clients</th> *@
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var contact in Contacts)
                {
                    <tr>
                        <td>@contact.Name</td>
                        <td>@contact.Surname</td>
                        <td>@contact.Email</td>
                        @* <td>@contact.TotalClients</td> *@
                        <td>
                            <button type="button" class="btn btn-light btn-sm"
                                    
                                    data-bs-toggle="modal" data-bs-target="#viewContactsModal">
                                Clients &nbsp;<span class="badge bg-success">
                                    @contact.TotalClients
                                </span>
                            </button>
                        </td>
                        
                        <td class="button-controls">
                            <div class="table-buttons">
                                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editClientModal">Edit</button>
                                <button type="button" class="btn btn-primary btn-sm">Link Client</button>
                                <button type="button" class="btn btn-danger btn-sm">Delete</button>
                            </div>

                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]

    public IEnumerable<GetContactDTO>? Contacts { get; set; }
}
