@using ClientsAppUI.Components
@using ClientsAppUI.Components.Contacts
@using ClientsAppUI.Enums
@using ClientsDataAccessLib.DTOs.Contacts
@using ClientsDataAccessLib.Exceptions
@using ClientsDataAccessLib.Services
@page "/Contacts"
@inject IContactService contactService
@inject IJSRuntime js

<PageTitle>Contacts</PageTitle>

<div class="frame">
    <div class="left">
        <InfoCard Title="@Title" Description="@Description" LinkAddress="Clients" LinkText="Manage Clients"/>
    </div>
    <div class="right">
        <AddContact GetAllContacts="@GetAllContacts"/>
    </div>
    <div class="bottom">
        <ContactList Contacts="@contacts" GetAllContacts="@GetAllContacts" />
    </div>
</div>

@code {
    public string Title = "Manage Contacts";

    public string Description = "Here you can view and manage all the available contact details along with linking them to clients.";

    public int PageNumber { get; set; } = 0;

    public IEnumerable<GetContactDTO>? contacts { get; set; }

    protected override void OnInitialized()
    {
        GetAllContacts();
        
    }

    public void GetAllContacts(Navigate? navigate = null)
    {
        try
        {
            var listParams = new ClientsDataAccessLib.Utilities.ListParameters();
            switch (navigate)
            {
                case Navigate.Next:
                    PageNumber++;
                    break;

                case Navigate.Previous:
                    if (PageNumber > 0)
                    {
                        PageNumber--;
                    }
                    break;
                default:
                    PageNumber = 1;
                    break;

            }
            listParams.PageNumber = PageNumber == 0 ? 1 : PageNumber;
            contacts = contactService.GetAllContacts(listParams);    
            StateHasChanged();
        }
        catch (DatabaseOperationException ex)
        {
            js.InvokeVoidAsync("alert", ex.Message);
        }
    }
}
